<template>
  <div id="about" class="about-container pb-2 pb-lg-5 w-100">
    <p class="title about-title">{{ $t("components.about.title") }}</p>

    <p class="description about-description py-lg-4">
      {{ $t("components.about.description_i") }}
    </p>

    <p class="description about-description">
      {{ $t("components.about.description_ii") }}
    </p>
  </div>
</template>

<style>
.about-container {
  text-align: left;
  background-color: #160041;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
}

.about-title {
  color: #f09312;
}

.about-description {
  color: #ffffff;
  padding-left: 3rem;
}

@media (min-width: 992px) {
  .about-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }

  .about-description {
    padding-left: 10rem;
  }
}
</style>
