<template>
  <div class="col-12 col-lg-6">
    <div class="container">
      <div class="row">
        <div class="col-12 subtitle case-description-technologies-title pt-3">
          {{ $t("components.caseDescriptionTechnologies.title") }}
        </div>

        <div
          class="col-12 description case-description-technologies-list mr-5 mb-5 mt-2 py-2"
        >
          <div class="container">
            <div class="row">
              <div
                class="col-12 col-lg-6"
                v-for="technology in technologies[name]"
                :key="technology"
              >
                {{ technology }}
              </div>
            </div>
          </div>

          <div class="case-description-technologies-frame"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CaseDescriptionTechnologies",
  props: {
    name: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      technologies: {
        pae: [
          "Ruby on Rails",
          "Bootstrap",
          "PostgreSQL",
          "Redis",
          "Heroku",
          "Sentry",
        ],
        interscity: [
          "Ruby on Rails",
          "Bootstrap",
          "PostgreSQL",
          "Redis",
          "MongoDB",
          "RabbitMQ",
          "Ansible",
          "Docker Swarm",
        ],
        vetor: [
          "Ruby on Rails",
          "Bootstrap",
          "PostgreSQL",
          "Redis",
          "AWS",
          "Heroku",
        ],
      },
    };
  },
};
</script>

<style>
.case-description-technologies-title {
  color: #fd45b4;
  text-align: left;
}

.case-description-technologies-list {
  background: #160041;
  color: #ffffff;
  text-align: left;
}

.case-description-technologies-frame {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #fd45b4, #f09312);
  border-image-slice: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}
</style>
