<template>
  <div class="col-12 col-lg-6 description case-description py-3">
    <div class="container">
      <div class="row">
        <div class="col-auto case-description-subtitle subtitle text-uppercase">
          {{ $t(`components.caseDescriptionSection.${kind}.title`) }}
        </div>

        <div class="col d-flex align-self-center">
          <hr class="case-description-line" />
        </div>
      </div>

      <div class="row">
        <div
          class="col pr-lg-5"
          v-html="$tm(`components.caseDescriptionSection.${kind}.${name}`)"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CaseDescriptionSection",
  props: {
    name: {
      type: String,
      default: "",
    },
    kind: {
      type: String,
      default: "",
    },
  },
};
</script>

<style>
.case-description {
  text-align: left;
}

.case-description-subtitle {
  color: #f09312;
}

.case-description-line {
  height: 2px;
  background: linear-gradient(to right, #fd45b4, #f09312);
  width: 100%;
}
</style>
