<template>
  <div class="container case-container">
    <div class="row pb-3">
      <div class="col-12 align-self-center d-flex justify-content-center">
        <picture class="case-img">
          <source
            class="case-img"
            type="image/webp"
            :srcset="imageSource('webp')"
          />

          <img class="case-img" :src="imageSource('png')" :alt="name" />
        </picture>
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 align-self-center d-flex justify-content-center subtitle case-title text-center"
      >
        <router-link
          :to="{ name: caseDescriptionRouteName(), hash: '#title' }"
          class="service-topic-link"
        >
          {{ $t(`components.cases.${name}`) }}
          <IconItem icon="external-link-alt" size="xs" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import IconItem from "./IconItem.vue";

export default {
  name: "CaseItem",
  props: {
    name: {
      type: String,
      default: "",
    },
  },
  methods: {
    imageSource(extension) {
      return require(`@/assets/cases/${this.name}.${extension}`);
    },
    caseDescriptionRouteName() {
      return (
        this.name.charAt(0).toUpperCase() +
        this.name.slice(1) +
        "CaseDescription"
      );
    },
  },
  components: { IconItem },
};
</script>

<style>
.case-img {
  max-width: 100%;
}

.case-title {
  color: #160041;
}
</style>
