<template>
  <div id="projects" class="cases-container pb-2 pb-lg-5 w-100">
    <p class="title">{{ $t("components.cases.title") }}</p>

    <div class="container cases-list py-5 w-100">
      <div class="row">
        <div class="col-lg-4 align-self-center d-flex justify-content-center">
          <CaseItem name="pae" />
        </div>

        <div
          class="col-lg-4 align-self-center py-4 d-flex justify-content-center"
        >
          <hr />
        </div>

        <div class="col-lg-4 align-self-center d-flex justify-content-center">
          <CaseItem name="vetor" />
        </div>
      </div>

      <div class="row pt-lg-5">
        <div
          class="col-lg-4 align-self-center py-4 d-flex justify-content-center"
        >
          <hr />
        </div>

        <div class="col-lg-4 align-self-center d-flex justify-content-center">
          <CaseItem name="interscity" />
        </div>

        <div
          class="col-lg-4 align-self-center justify-content-center d-none d-lg-flex"
        >
          <hr />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CaseItem from "./CaseItem.vue";

export default {
  name: "CasesList",
  components: {
    CaseItem,
  },
};
</script>

<style>
.cases-container {
  text-align: left;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  color: #fd45b4;
}

.cases-list {
  max-width: inherit;
}

.cases-container hr {
  border: 2px solid #f09312;
  width: 100%;
}

@media (min-width: 992px) {
  .cases-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }
}
</style>
