<template>
  <form
    name="contact"
    method="POST"
    data-netlify="true"
    data-netlify-honeypot="bot-field"
    class="px-lg-5"
    @submit.prevent="handleSubmit"
  >
    <input type="hidden" name="form-name" value="contact" />

    <div class="form-row">
      <div class="form-group col">
        <label for="name" class="text">{{
          $t("components.contactForm.name")
        }}</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          v-model="form.name"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="email" class="text">{{
          $t("components.contactForm.email")
        }}</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          v-model="form.email"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="email" class="text">{{
          $t("components.contactForm.message")
        }}</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="8"
          v-model="form.message"
        ></textarea>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-lg mb-2 contact-form-submit"
    >
      {{ $t(buttonTextI18n) }}
    </button>
  </form>
</template>

<script>
import axios from "axios";

export default {
  name: "ContactForm",
  props: ["buttonTextI18n"],
  data: function () {
    return {
      form: {
        name: "",
        email: "",
        message: "",
      },
    };
  },
  methods: {
    encode(data) {
      return Object.keys(data)
        .map(
          (key) => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join("&");
    },
    handleSubmit: function () {
      const axiosConfig = {
        header: { "Content-Type": "application/x-www-form-urlencoded" },
      };

      axios
        .post(
          "/",
          this.encode({
            "form-name": "contact",
            ...this.form,
          }),
          axiosConfig
        )
        .then(() => {
          this.$router.push({ name: "SuccessfulContact" });
        })
        .catch(() => {
          this.$router.push({ name: "FailedContact" });
        });
    },
  },
};
</script>

<style>
.contact-form-submit,
.contact-form-submit:link,
.contact-form-submit:hover,
.contact-form-submit:active,
.contact-form-submit:visited {
  background: #160041 !important;
  border-color: #160041 !important;
}

input.form-control {
  background: rgba(22, 0, 65, 0.2);
}

textarea.form-control {
  background: rgba(22, 0, 65, 0.2);
}
</style>
