<template>
  <div id="contact" class="contact-container pb-2 pb-lg-5 w-100">
    <p class="title pb-3">{{ $t("components.contact.title") }}</p>

    <p
      class="description px-lg-5 pb-5"
      v-html="
        $t('components.contact.description', {
          email: 'contato@pragmacode.com.br',
        })
      "
    ></p>

    <ContactForm buttonTextI18n="components.contact.submit" />
  </div>
</template>

<script>
import ContactForm from "@/components/ContactForm";

export default {
  name: "ContactSection",
  components: {
    ContactForm,
  },
};
</script>

<style>
.contact-container {
  text-align: left;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  color: #160041;
}

.contact-container p.title {
  color: #fd45b4;
}

.contact-list {
  max-width: inherit;
}

.contact-container hr {
  border: 2px solid #f09312;
  width: 100%;
}

@media (min-width: 992px) {
  .contact-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }
}
</style>
