<template>
  <div class="cover-container w-100">
    <picture>
      <source
        type="image/webp"
        class="cover w-100"
        media="(max-width: 500px)"
        srcset="/cover-small.webp"
      />

      <source
        type="image/webp"
        class="cover w-100"
        media="(min-width: 501px)"
        srcset="/cover.webp"
      />

      <img
        class="cover w-100"
        src="cover.jpg"
        width="1921"
        height="1081"
        alt=""
      />
    </picture>

    <!-- Improve SEO performance -->
    <h1 class="cover-text">
      {{ $t("components.cover.concept_phrase_i") }}.<br />
      {{ $t("components.cover.concept_phrase_ii") }}.
    </h1>

    <div class="squares-container w-100">
      <div class="squares-picture-container ml-auto">
        <picture>
          <source
            type="image/webp"
            class="squares"
            :srcset="require('@/assets/squares.webp')"
          />

          <img
            class="squares"
            :src="require('@/assets/squares.png')"
            width="160"
            height="160"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</template>

<style>
.cover-container {
  background-color: #160041;
  position: relative;
}

.cover {
  opacity: 0.33;
  height: auto;
}

.cover-text {
  position: absolute;
  top: 15%;
  left: 20px;
  font: normal normal normal 40px/40px "Oswald", sans-serif;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.squares-container {
  position: absolute;
  bottom: -40px;
}

.squares-picture-container {
  width: 80px;
  height: 80px;
}

.squares {
  width: 80px;
  height: 80px;
}

@media (min-width: 992px) {
  .cover {
    max-height: 500px;
  }

  .cover-text {
    font: normal normal normal 45px/60px "Oswald", sans-serif;
    top: 225px;
    left: 10rem;
  }

  .squares-container {
    bottom: -60px;
  }

  .squares-picture-container {
    width: 120px;
    height: 120px;
  }

  .squares {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1600px) {
  .cover {
    max-height: 850px;
  }

  .cover-text {
    font: normal normal normal 90px/120px "Oswald", sans-serif;
    top: 300px;
    left: 10rem;
  }

  .squares-container {
    bottom: -80px;
  }

  .squares-picture-container {
    width: 160px;
    height: 160px;
  }

  .squares {
    width: 160px;
    height: 160px;
  }
}
</style>
