<template>
  <div id="customers" class="customers-container pb-2 pb-lg-5 w-100">
    <p class="title">{{ $t("components.customers.title") }}</p>

    <div class="container">
      <div class="row">
        <CustomerItem imgName="pae" />

        <CustomerItem imgName="ieps" />

        <CustomerItem imgName="vetor" />

        <CustomerItem imgName="consegtur" />

        <CustomerItem imgName="kinoforum" />

        <CustomerItem imgName="minuto" />

        <CustomerItem imgName="interscity" />

        <CustomerItem imgName="vitalstrategies" />

        <CustomerItem imgName="kitera" />

        <CustomerItem imgName="alavadeira" />

        <CustomerItem imgName="big" />

        <CustomerItem imgName="bid-fgv" />

        <CustomerItem imgName="cursor" />

        <CustomerItem imgName="stoodi" />
      </div>
    </div>
  </div>
</template>

<script>
import CustomerItem from "./CustomerItem.vue";

export default {
  name: "CustomersSection",
  components: {
    CustomerItem,
  },
};
</script>

<style>
.customers-container {
  text-align: left;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  color: #fd45b4;
}

@media (min-width: 992px) {
  .customers-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }
}
</style>
