<template>
  <div class="col py-3 align-self-center d-flex justify-content-center">
    <picture>
      <source type="image/webp" :srcset="imageSource('webp')" />

      <img :src="imageSource('png')" :alt="imgName" />
    </picture>
  </div>
</template>

<script>
export default {
  name: "CustomerItem",
  props: {
    imgName: {
      type: String,
      default: "",
    },
  },
  methods: {
    imageSource(extension) {
      return require(`@/assets/customers/${this.imgName}.${extension}`);
    },
  },
};
</script>
