<template>
  <div class="container footer-container pb-5">
    <div class="row">
      <div class="col-4 col-lg-2">
        <picture>
          <source
            type="image/webp"
            class="footer-logo"
            :srcset="require('@/assets/logo-blue.webp')"
          />

          <img
            alt="PragmaCode"
            class="footer-logo"
            :src="require('@/assets/logo-blue.png')"
            width="117"
            height="50"
          />
        </picture>
      </div>

      <div class="col-4 col-lg-1">
        <a
          href="https://www.linkedin.com/company/pragmacode/"
          target="_blank"
          class="footer-link"
        >
          <IconItem :icon="['fab', 'linkedin']" size="3x" />
        </a>
      </div>

      <div class="col-4 col-lg-1">
        <a
          href="https://gitlab.com/pragmacode"
          target="_blank"
          class="footer-link"
        >
          <IconItem :icon="['fab', 'gitlab']" size="3x" />
        </a>
      </div>
    </div>
  </div>
</template>

<style>
.footer-logo {
  max-height: 50px;
}

.footer-container {
  max-width: inherit !important;
  padding-left: 20px !important;
  color: #160041;
}

.footer-link {
  color: #160041;
}

.footer-link:hover {
  color: #160041;
}

.footer-link:visited {
  color: #160041;
}

@media (min-width: 992px) {
  .footer-container {
    text-align: left;
    padding-left: 10rem !important;
    padding-right: 6rem !important;
  }
}
</style>

<script>
import IconItem from "./IconItem.vue";

export default {
  name: "FooterSection",
  components: {
    IconItem,
  },
};
</script>
