<template>
  <FontAwesomeIcon :icon="icon" :size="size" />
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faExternalLinkAlt } from "@fortawesome/free-solid-svg-icons";
import { faLinkedin, faGitlab } from "@fortawesome/free-brands-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faExternalLinkAlt, faLinkedin, faGitlab);

export default {
  name: "IconItem",
  components: {
    FontAwesomeIcon,
  },
  props: ["icon", "size"],
};
</script>
