<template>
  <div
    :class="`landing-page-section-container bg-${bgColor} container pt-4 pb-2 pb-lg-5 w-100`"
  >
    <div class="row">
      <div :class="`col-md-6 px-lg-5 pb-2 pb-md-5 order-${imgOrder}`">
        <picture>
          <source
            type="image/webp"
            class="lp-sec-img"
            :srcset="require(`@/assets/landing-page-${topic}.webp`)"
          />

          <img
            alt="PragmaCode"
            class="lp-sec-img"
            :src="require(`@/assets/landing-page-${topic}.png`)"
            width="870"
            height="430"
          />
        </picture>
      </div>

      <div class="col-md-6 px-lg-5 pb-2 pb-md-5">
        <h2 :class="`title bg-${bgColor} pb-3`">
          {{ $t(`components.landingPageSection.${topic}.title`) }}
        </h2>

        <p class="text-justify description">
          {{ $t(`components.landingPageSection.${topic}.description_i`) }}
        </p>
        <p class="text-justify description">
          {{ $t(`components.landingPageSection.${topic}.description_ii`) }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LandingPageSection",
  props: ["topic", "imgOrder", "bgColor"],
};
</script>

<style>
.landing-page-section-container {
  text-align: left;
  max-width: inherit;
  padding-left: 20px;
  padding-right: 20px;
}

.lp-sec-img {
  width: 100%;
  height: auto;
}

.bg-white {
  color: #160041;
}

h2.bg-white {
  color: #fd45b4;
}

.bg-orange {
  background-color: #f09312;
  color: #160041;
}

h2.bg-orange {
  color: #160041;
}

.bg-blue {
  background-color: #160041;
  color: #ffffff;
}

h2.bg-blue {
  color: #f09312;
}

@media (min-width: 992px) {
  .landing-page-section-container {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (max-width: 992px) {
  .order-last {
    order: inherit;
  }
}
</style>
