<template>
  <nav
    :class="`navbar fixed-top navbar-expand-lg navbar-dark px-lg-5 navbar-simple ${navClass}`"
  >
    <a class="navbar-brand" href="#">
      <NavbarLogo :type="logo" />
    </a>

    <button
      type="button"
      class="close ml-auto"
      aria-label="Close"
      v-on:click="goToIndex()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </nav>
</template>

<script>
import NavbarLogo from "./NavbarLogo.vue";

export default {
  name: "NavbarSimple",
  props: ["navClass", "logo", "indexSection"],
  methods: {
    goToIndex() {
      this.$router.push({ name: "IndexPage", hash: this.indexSection });
    },
  },
  components: { NavbarLogo },
};
</script>

<style>
.close {
  font-size: 2.5em;
  color: #160041;
}

.close:hover {
  color: #160041;
}

.navbar-simple {
  min-height: 90px;
}
</style>
