<template>
  <li class="nav-item active pr-lg-3">
    <a class="nav-link" href="#about">{{ $t("components.navbar.about") }}</a>
  </li>

  <li class="nav-item active pr-lg-3">
    <a class="nav-link" href="#services">{{
      $t("components.navbar.services")
    }}</a>
  </li>

  <li class="nav-item active pr-lg-3">
    <a class="nav-link" href="#customers">{{
      $t("components.navbar.projects")
    }}</a>
  </li>

  <li class="nav-item active pr-lg-3">
    <a class="nav-link" href="#team">{{ $t("components.navbar.team") }}</a>
  </li>

  <li class="nav-item active pr-lg-3">
    <a class="nav-link" href="#contact">{{
      $t("components.navbar.contact")
    }}</a>
  </li>

  <li class="nav-item dropdown pr-lg-4">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="locale-container">
        {{ $i18n.locale }}
      </span>
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a
        class="dropdown-item d-none d-sm-flex"
        href="#"
        v-for="locale in availableLocales"
        v-bind:key="locale"
        v-on:click="setLocale(locale)"
      >
        {{ locale }}
      </a>

      <a
        class="dropdown-item d-flex d-sm-none"
        href="#"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        v-for="locale in availableLocales"
        v-bind:key="locale"
        v-on:click="setLocale(locale)"
      >
        {{ locale }}
      </a>
    </div>
  </li>
</template>

<script>
export default {
  name: "NavbarLinks",
  computed: {
    availableLocales() {
      return this.$i18n.availableLocales.filter((locale) => {
        return locale !== this.$i18n.locale;
      });
    },
  },
  methods: {
    setLocale(locale) {
      this.$i18n.locale = locale;
    },
  },
};
</script>

<style>
.locale-container {
  background: transparent linear-gradient(90deg, #fd45b4 0%, #f09312 100%) 0% 0%
    no-repeat padding-box;
  font-size: 30px;
  color: #160041;
  display: inline-flex;
  height: 38px;
  width: 38px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 7px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  font-size: 30px !important;
}
</style>
