<template>
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-dark px-lg-5 navbar-main"
  >
    <a class="navbar-brand" href="#">
      <NavbarLogo type="logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-lg-5 d-none d-sm-flex">
        <NavbarLinks />
      </ul>

      <ul
        class="navbar-nav ml-auto pr-lg-5 d-flex d-sm-none"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <NavbarLinks />
      </ul>
    </div>
  </nav>
</template>

<script>
import NavbarLogo from "./NavbarLogo.vue";
import NavbarLinks from "./NavbarLinks.vue";

export default {
  name: "NavbarSection",
  components: {
    NavbarLogo,
    NavbarLinks,
  },
};
</script>

<style>
.navbar-main {
  font: normal normal 300 36px/48px "Oswald", "Roboto", sans-serif;
  background-color: #160041;
  min-height: 90px;
}
</style>
