<template>
  <picture class="pl-lg-5">
    <source
      type="image/webp"
      class="logo"
      :srcset="require(`@/assets/${type}.webp`)"
    />

    <img
      alt="PragmaCode"
      class="logo"
      :src="require(`@/assets/${type}.png`)"
      width="165"
      height="70"
    />
  </picture>
</template>

<script>
export default {
  name: "NavbarLogo",
  props: ["type"],
};
</script>

<style>
.logo {
  height: 35px;
  width: auto;
}

@media (min-width: 992px) {
  .logo {
    height: 70px;
    width: auto;
  }
}
</style>
