<template>
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-dark px-lg-5 navbar-landing-page"
  >
    <router-link :to="{ name: 'IndexPage' }" class="navbar-brand">
      <NavbarLogo type="logo" />
    </router-link>

    <a href="#contact" class="btn btn-primary ml-auto mr-md-5 contact-link">
      {{ $t("components.navbarLandingPage.contact") }}
    </a>
  </nav>
</template>

<script>
import NavbarLogo from "./NavbarLogo.vue";

export default {
  name: "NavbarLandingPage",
  components: { NavbarLogo },
};
</script>

<style>
.contact-link:link,
.contact-link:hover,
.contact-link:active,
.contact-link:visited {
  background-color: #160041 !important;
  border-color: #160041 !important;
  color: #ffffff;
  font-weight: bold;
}

.navbar-landing-page {
  background-color: #ffffff;
}
</style>
