<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <picture>
          <source
            class="principle-image"
            type="image/webp"
            :srcset="imageSource('webp')"
          />

          <img
            class="principle-image"
            :src="imageSource('png')"
            width="187"
            height="187"
            :alt="imgName"
          />
        </picture>
      </div>
    </div>

    <div class="row">
      <div class="col subtitle py-4">
        {{ title }}
      </div>
    </div>

    <div class="row">
      <div class="col text">
        {{ text }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrincipleItem",
  props: {
    imgName: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    text: {
      type: String,
      default: "",
    },
  },
  methods: {
    imageSource(extension) {
      return require(`@/assets/${this.imgName}.${extension}`);
    },
  },
};
</script>

<style>
.principle-image {
  width: 187px;
  height: 187px;
}
</style>
