<template>
  <div class="principles-container pb-2 pb-lg-5 w-100">
    <div class="container principles-elements w-100">
      <div class="row">
        <div class="col-lg-4 pb-5">
          <PrincipleItem
            imgName="excellence"
            :title="$t('components.principles.excellence_title')"
            :text="$t('components.principles.excellence_text')"
          />
        </div>

        <div class="principles-line-small col-lg-4 d-block d-lg-none">
          <hr />
        </div>

        <div class="col-lg-4 pb-5">
          <PrincipleItem
            imgName="commitment"
            :title="$t('components.principles.commitment_title')"
            :text="$t('components.principles.commitment_text')"
          />
        </div>

        <div class="principles-line-small col-lg-4 d-block d-lg-none">
          <hr />
        </div>

        <div class="col-lg-4 pb-5">
          <PrincipleItem
            imgName="colab_work"
            :title="$t('components.principles.colab_work_title')"
            :text="$t('components.principles.colab_work_text')"
          />
        </div>
      </div>
    </div>

    <div class="principles-line d-none d-lg-block">
      <hr />
    </div>
  </div>
</template>

<script>
import PrincipleItem from "./PrincipleItem.vue";

export default {
  name: "PrinciplesSection",
  components: {
    PrincipleItem,
  },
};
</script>

<style>
.principles-container {
  padding-top: 100px;
  color: #160041;
  position: relative;
}

.principles-elements {
  max-width: inherit;
}

.principles-line {
  width: 100%;
  position: absolute;
  top: 11rem;
  left: 0;
  z-index: -1;
  text-align: center;
}

.principles-line hr {
  border: 2px solid #f09312;
  width: 60%;
}

.principles-line-small hr {
  border: 2px solid #f09312;
  width: 80%;
}

@media (min-width: 1200px) {
  .principles-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }
}
</style>
