<template>
  <div class="col d-block d-lg-none">
    <picture>
      <source
        type="image/webp"
        :class="'w-100 h-auto ' + (flip ? 'flip' : '')"
        :srcset="require('@/assets/services.webp')"
      />

      <img
        :class="'w-100 h-auto ' + (flip ? 'flip' : '')"
        :src="require('@/assets/services.png')"
        width="610"
        height="281"
        alt=""
      />
    </picture>
  </div>
</template>

<script>
export default {
  name: "ServiceSmallImage",
  props: {
    flip: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style>
.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
</style>
