<template>
  <div id="services" class="services-container pb-2 pb-lg-5 w-100">
    <p class="title">{{ $t("components.services.title") }}</p>

    <p class="description services-description py-lg-4">
      {{ $t("components.services.description") }}
    </p>

    <div class="container py-5 services-elements">
      <div class="row">
        <div class="col-12 text-center subtitle">
          <router-link
            :to="{ name: 'DevelopmentServiceDescription', hash: '#title' }"
            class="service-topic-link"
          >
            {{ $t("components.services.development") }}
            <IconItem icon="external-link-alt" size="xs" />
          </router-link>
        </div>
      </div>

      <div class="row d-none d-lg-block">
        <div class="col-12">
          <picture>
            <source
              type="image/webp"
              class="w-100"
              :srcset="require('@/assets/services_lg.webp')"
            />

            <img
              class="w-100 h-auto"
              :src="require('@/assets/services_lg.png')"
              width="1620"
              height="371"
              alt=""
            />
          </picture>
        </div>
      </div>

      <div class="row d-block d-lg-none">
        <ServiceSmallImage />
      </div>

      <div class="row">
        <div class="col-lg-4 text-center subtitle">
          <router-link
            :to="{ name: 'PrototypingServiceDescription', hash: '#title' }"
            class="service-topic-link"
          >
            {{ $t("components.services.prototyping") }}
            <IconItem icon="external-link-alt" size="xs" />
          </router-link>
        </div>

        <ServiceSmallImage :flip="true" />

        <div class="col-lg-4 offset-lg-4 text-center subtitle">
          <router-link
            :to="{ name: 'MaintenanceServiceDescription', hash: '#title' }"
            class="service-topic-link"
          >
            {{ $t("components.services.maintenance") }}
            <IconItem icon="external-link-alt" size="xs" />
          </router-link>
        </div>

        <ServiceSmallImage />
      </div>
    </div>
  </div>
</template>

<script>
import ServiceSmallImage from "./ServiceSmallImage.vue";
import IconItem from "./IconItem.vue";

export default {
  name: "ServicesSection",
  components: {
    ServiceSmallImage,
    IconItem,
  },
};
</script>

<style>
.services-container {
  text-align: left;
  background-color: #f09312;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  color: #160041;
}

.services-description {
  padding-left: 3rem;
}

.services-elements {
  max-width: inherit;
}

.service-topic-link {
  color: #160041;
}

.service-topic-link:hover {
  color: #160041;
}

.service-topic-link:visited {
  color: #160041;
}

@media (min-width: 992px) {
  .services-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }

  .services-description {
    padding-left: 10rem;
  }
}
</style>
