<template>
  <div id="team" class="team-container pb-5 w-100">
    <p class="title team-title">{{ $t("components.team.title") }}</p>

    <div class="container team-members-container">
      <div class="row">
        <TeamMember name="diego" />

        <TeamMember name="rafael" />

        <TeamMember name="eduardo" />

        <TeamMember name="heitor" />

        <TeamMember name="andre" />

        <TeamMember name="pedro" />

        <TeamMember name="wilson" />

        <TeamMember name="arthur" />

        <TeamMember name="rubens" />
      </div>
    </div>
  </div>
</template>

<script>
import TeamMember from "@/components/TeamMember.vue";

export default {
  name: "TeamSection",
  components: {
    TeamMember,
  },
};
</script>

<style>
.team-container {
  text-align: left;
  background-color: #160041;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
}

.team-title {
  color: #f09312;
}

.team-members-container {
  max-width: inherit;
}

@media (min-width: 992px) {
  .team-container {
    padding-left: 10rem;
    padding-right: 6rem;
  }
}
</style>
