<template>
  <div class="col-md-6 col-lg-4 pt-5">
    <div class="container">
      <div class="row py-5">
        <div class="col">
          <div class="team-member-photo-container">
            <picture>
              <source
                class="team-member-photo h-auto"
                type="image/webp"
                :srcset="require(`@/assets/${name}.webp`)"
              />

              <img
                class="team-member-photo h-auto"
                :src="require(`@/assets/${name}.png`)"
                width="320"
                height="432"
                :alt="name"
              />
            </picture>
          </div>

          <div class="team-member-frame">
            <div class="team-member-frame-fill"></div>
          </div>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col subtitle team-member-name">
          {{ $t(`components.teamMember.${name}.name`) }}
        </div>
      </div>

      <div class="row">
        <div class="col text team-member-bio">
          {{ $t(`components.teamMember.${name}.bio`) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TeamMember",
  props: ["name"],
};
</script>

<style>
.team-member-name {
  color: #fd45b4;
  text-align: left;
}

.team-member-bio {
  color: #ffffff;
  text-align: left;
}

.team-member-photo-container {
  z-index: 1;
  position: relative;
}

.team-member-frame {
  position: absolute;
  top: -5%;
  left: 50px;
  background: linear-gradient(to right, #fd45b4, #f09312);
  width: 100%;
  max-width: 310px;
  height: 110%;
  padding: 2px;
}

.team-member-frame-fill {
  width: 100%;
  height: 100%;
  background-color: #160041;
}

@media (max-width: 1400px) {
  .team-member-photo {
    max-width: 260px;
  }

  .team-member-frame {
    max-width: 245px;
  }
}
</style>
