<template>
  <MetaInfo
    :title="`PragmaCode - ` + $t(`views.case-description.${caseDescription}`)"
    :description="
      $t(`components.caseDescriptionSection.solution.${caseDescription}`)
    "
  />

  <NavbarSimple
    navClass="case-description"
    logo="logo"
    indexSection="#projects"
  />

  <div class="case-description-container container px-lg-5">
    <div id="title" class="row no-gutters px-lg-5 case-description-title">
      <div
        class="col-12 col-lg-auto d-flex justify-content-start align-items-end pb-4"
      >
        <picture>
          <source
            type="image/webp"
            class="squares-case"
            :srcset="require('@/assets/squares-case.webp')"
          />

          <img
            alt=""
            class="squares-case"
            :src="require('@/assets/squares-case.png')"
            width="94"
            height="70"
          />
        </picture>
      </div>

      <!-- Improve SEO performance -->
      <h1 class="col subtitle d-flex align-items-end pl-3">
        {{ $t(`views.case-description.${caseDescription}`) }} _
        {{ $t(`components.cases.${caseDescription}`) }}
      </h1>
    </div>

    <div class="row px-lg-5 no-gutters">
      <CaseDescriptionSection :name="caseDescription" kind="challenge" />

      <CaseDescriptionSection :name="caseDescription" kind="solution" />
    </div>

    <div class="row px-lg-5 no-gutters">
      <CaseDescriptionSection :name="caseDescription" kind="results" />

      <CaseDescriptionTechnologies :name="caseDescription" />
    </div>
  </div>
</template>

<script>
import "bootstrap/js/dist/dropdown.js";
import "bootstrap/js/dist/collapse.js";
import "bootstrap/dist/css/bootstrap.min.css";

import MetaInfo from "@/components/MetaInfo.vue";
import NavbarSimple from "@/components/NavbarSimple.vue";
import CaseDescriptionSection from "@/components/CaseDescriptionSection.vue";
import CaseDescriptionTechnologies from "@/components/CaseDescriptionTechnologies.vue";

export default {
  name: "CaseDescription",
  props: ["caseDescription"],
  components: {
    MetaInfo,
    NavbarSimple,
    CaseDescriptionSection,
    CaseDescriptionTechnologies,
  },
};
</script>

<style>
.case-description-container {
  width: 100%;
  color: #160041;
  flex: 1;
  max-width: inherit;
}

nav.case-description {
  background-color: #ffffff;
}

.case-description-title {
  text-align: left;
  padding-top: 110px;
}

.squares-case {
  width: 94px;
  height: 70px;
  opacity: 0.5;
}

@media (max-width: 1400px) {
  .case-description-title .subtitle {
    font: normal normal 600 28px/28px "Oswald", sans-serif;
  }
}
</style>
