<template>
  <MetaInfo
    :title="`PragmaCode - ` + $t(`views.contact-response.here`)"
    :description="$t(`views.contact-response.message`)"
  />

  <picture>
    <source
      type="image/webp"
      class="logo-contact-response"
      :srcset="require('@/assets/logo-full.webp')"
    />

    <img
      alt="PragmaCode"
      class="logo-contact-response"
      :src="require('@/assets/logo-full.png')"
      width="250"
      height="250"
    />
  </picture>

  <p class="pt-5">
    {{
      $t(`views.contact-response.${status}`, {
        email: "contato@pragmacode.com.br",
      })
    }}.
  </p>

  <p>
    {{ $t("views.contact-response.click") }}
    <router-link :to="{ name: 'IndexPage' }">{{
      $t("views.contact-response.here")
    }}</router-link>
    {{ $t("views.contact-response.message") }}.
  </p>
</template>

<script>
import "bootstrap/js/dist/dropdown.js";
import "bootstrap/js/dist/collapse.js";
import "bootstrap/dist/css/bootstrap.min.css";

import MetaInfo from "@/components/MetaInfo.vue";

export default {
  name: "ContactResponse",
  props: {
    status: {
      type: String,
      default: "",
    },
  },
  components: {
    MetaInfo,
  },
};
</script>

<style>
.logo-contact-response {
  width: 250px;
  height: 250px;
}
</style>
