<template>
  <MetaInfo
    :title="$t(`views.index.title`)"
    :description="$t(`components.about.description_i`)"
  />

  <NavbarSection />

  <CoverSection />

  <AboutSection />

  <PrinciplesSection />

  <ServicesSection />

  <CustomersSection />

  <CasesList />

  <TeamSection />

  <ContactSection />

  <FooterSection />
</template>

<script>
import "bootstrap/js/dist/dropdown.js";
import "bootstrap/js/dist/collapse.js";
import "bootstrap/dist/css/bootstrap.min.css";

import MetaInfo from "@/components/MetaInfo.vue";
import NavbarSection from "@/components/NavbarSection.vue";
import CoverSection from "@/components/CoverSection.vue";
import AboutSection from "@/components/AboutSection.vue";
import PrinciplesSection from "@/components/PrinciplesSection.vue";
import ServicesSection from "@/components/ServicesSection.vue";
import CustomersSection from "@/components/CustomersSection.vue";
import CasesList from "@/components/CasesList.vue";
import TeamSection from "@/components/TeamSection.vue";
import ContactSection from "@/components/ContactSection.vue";
import FooterSection from "@/components/FooterSection.vue";

export default {
  name: "IndexPage",
  components: {
    MetaInfo,
    NavbarSection,
    CoverSection,
    AboutSection,
    PrinciplesSection,
    ServicesSection,
    CustomersSection,
    CasesList,
    TeamSection,
    ContactSection,
    FooterSection,
  },
};
</script>
