<template>
  <MetaInfo
    :title="`PragmaCode - ` + $t(`views.page-not-found.here`)"
    :description="$t(`views.page-not-found.message`)"
  />

  <picture>
    <source
      type="image/webp"
      class="logo-404"
      :srcset="require('@/assets/logo-full.webp')"
    />

    <img
      alt="PragmaCode"
      class="logo-404"
      :src="require('@/assets/logo-full.png')"
      width="250"
      height="250"
    />
  </picture>

  <p class="pt-5">{{ $t("views.page-not-found.error") }}.</p>

  <p>
    {{ $t("views.page-not-found.click") }}
    <router-link :to="{ name: 'IndexPage' }">{{
      $t("views.page-not-found.here")
    }}</router-link>
    {{ $t("views.page-not-found.message") }}.
  </p>
</template>

<script>
import "bootstrap/js/dist/dropdown.js";
import "bootstrap/js/dist/collapse.js";
import "bootstrap/dist/css/bootstrap.min.css";

import MetaInfo from "@/components/MetaInfo.vue";

export default {
  name: "PageNotFound",
  components: {
    MetaInfo,
  },
};
</script>

<style>
.logo-404 {
  width: 250px;
  height: 250px;
}
</style>
