<template>
  <MetaInfo
    :title="$t(`views.service-title.${service}`)"
    :description="$t(`views.service-description.${service}`)"
  />

  <NavbarSimple
    navClass="service-description"
    logo="logo-blue"
    indexSection="#services"
  />

  <div class="service-description-container px-lg-5">
    <!-- Improve SEO performance -->
    <h1 id="title" class="title service-description-title px-5">
      {{ $t(`components.services.${service}`) }}
    </h1>

    <p class="description service-description px-5 py-5">
      {{ $t(`views.service-description.${service}`) }}
    </p>

    <picture>
      <source
        type="image/webp"
        class="w-100 h-auto"
        :srcset="require('@/assets/services_lg.webp')"
      />

      <img
        class="w-100 h-auto"
        :src="require('@/assets/services_lg.png')"
        width="1810"
        height="416"
        alt=""
      />
    </picture>
  </div>
</template>

<script>
import "bootstrap/js/dist/dropdown.js";
import "bootstrap/js/dist/collapse.js";
import "bootstrap/dist/css/bootstrap.min.css";

import NavbarSimple from "@/components/NavbarSimple.vue";
import MetaInfo from "@/components/MetaInfo.vue";

export default {
  name: "ServiceDescription",
  props: ["service"],
  components: {
    MetaInfo,
    NavbarSimple,
  },
};
</script>

<style>
.service-description-container {
  width: 100%;
  background-color: #f09312;
  color: #160041;
  flex: 1;
}

nav.service-description {
  background-color: #f09312;
}

p.service-description {
  text-align: left;
}

p.service-description-title {
  text-align: left;
  padding-top: 110px;
}
</style>
