<template>
  <MetaInfo
    :title="`PragmaCode - ` + $t(`views.technical-advice.title`)"
    :description="$t(`views.technical-advice.subtitle`)"
  />

  <NavbarLandingPage />

  <div
    id="technical-advice"
    class="technical-advice-container pb-2 pb-lg-5 w-100"
  >
    <div class="row">
      <div class="col">
        <p class="title pb-1">{{ $t("views.technical-advice.title") }}</p>
        <p class="title pb-3">{{ $t("views.technical-advice.subtitle") }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="container">
          <div class="row">
            <div class="col text-justify">
              <p class="description px-lg-5 pb-5">
                {{ $t("views.technical-advice.description") }}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col px-lg-5 pt-5">
              <picture>
                <source
                  type="image/webp"
                  class="ta_lp_intro"
                  :srcset="
                    require('@/assets/landing-page-quality-protection.webp')
                  "
                />

                <img
                  alt="PragmaCode"
                  class="ta_lp_intro"
                  :src="require('@/assets/landing-page-quality-protection.png')"
                  width="1140"
                  height="400"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div id="contact" class="col-md-4">
        <p class="text px-lg-5">
          {{ $t("views.technical-advice.contactDescription") }}
        </p>

        <ContactForm buttonTextI18n="views.technical-advice.contact" />
      </div>
    </div>
  </div>

  <LandingPageSection topic="independent" imgOrder="first" bgColor="blue" />

  <LandingPageSection topic="experts" imgOrder="last" bgColor="blue" />

  <LandingPageSection topic="confidential" imgOrder="first" bgColor="blue" />

  <div class="py-5 footer-contact">
    <p class="subtitle">{{ $t("views.technical-advice.footerContactText") }}</p>

    <a href="#contact" class="btn btn-lg btn-primary">
      {{ $t("views.technical-advice.footerContactButton") }}
    </a>
  </div>

  <FooterSection />
</template>

<style>
.technical-advice-container {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #160041;
}

.technical-advice-container p.title {
  color: #fd45b4;
}

.ta_lp_intro {
  width: 100%;
  height: auto;
}

.footer-contact .subtitle {
  color: #fd45b4;
}

.footer-contact a,
.footer-contact a:link,
.footer-contact a:hover,
.footer-contact a:active,
.footer-contact a:visited {
  background: #160041 !important;
  border-color: #160041 !important;
}

@media (min-width: 992px) {
  .technical-advice-container {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
</style>

<script>
import "bootstrap/dist/css/bootstrap.min.css";

import NavbarLandingPage from "@/components/NavbarLandingPage.vue";
import ContactForm from "@/components/ContactForm.vue";
import LandingPageSection from "@/components/LandingPageSection.vue";
import FooterSection from "@/components/FooterSection.vue";
import MetaInfo from "@/components/MetaInfo.vue";

export default {
  name: "TechnicalAdvice",
  components: {
    NavbarLandingPage,
    ContactForm,
    LandingPageSection,
    FooterSection,
    MetaInfo,
  },
};
</script>
